/* .headerBottom * {
  border: 1px solid red;
} */

.navWrap {
  /* border: 1px solid black; */
  box-shadow: 0 0 5px rgba(var(--color-rgb-hof), 0.4);
  border-radius: 2rem;
  margin: 0.2rem 10%;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
}

.navWrap h2,
.navWrap input,
.navWrap p {
  font-size: 0.8rem;
  font-weight: 400;
}
.navWrap input {
  background-color: inherit;
}

.navWrap .Btn {
  /* border: 1px solid black; */
  height: 4.2rem;
  padding: 1rem 2rem;
  border-radius: 4rem;
  transition: 0.2s;
}
.navWrap .Btn:hover {
  background-color: rgba(var(--color-rgb-foggy), 0.2);
  transition: 0.2s;
}
/* .navWrap .Btn:hover input {
  background-color: rgba(var(--color-rgb-foggy), 0.2);
} */

@media (max-width: 740px) {
  .headerBottom {
    display: none;
  }
}
