.menuWrapper {
  height: 80px;
  display: flex;
  align-items: center;
}

.create {
  height: 42px;
  border-radius: 100px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.create:hover {
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.create > p {
  font-size: 0.85rem;
  font-weight: 500;
}

.language {
  width: 42px;
  height: 42px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language:hover {
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.language > img {
  width: 18px;
}

.mypage {
  width: 90px;
  height: 48px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.185);
  background-color: white;
  transition: 0.2s;
}

.mypage:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.185);
  cursor: pointer;
}

.mypage > div:nth-of-type(1) > img {
  width: 14px;
}

.mypage > div:nth-of-type(2) > img {
  width: 30px;
  opacity: 0.5;
}
